h1 {
  background-color: #87B64B;
  color: #FFFFFF;
}

a {
  color: #1ACEA2;
}

body {
  background-color: #8AB5E2";

}

/*mengubah div menjadi tampilan kartu*/
div {
  background-color: #E2BCDF;
  width: 250px;
  margin: 29px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

div img {
  border-radius: 50%;
  border: 4px solid #0089B3;
}

.navigasi {
  background-color: #B8266D;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.navigasi a {
  text-decoration: none;
}

.navigasi .aktif {
  font-weight: bold;
  color: #265B98;
  
}